.color-text {
  fill: white;
  stroke: #000;
  stroke-width: 1;
  stroke-linejoin: round;
  paint-order: stroke;
  font-weight: bold;
  font-size: 65%;
  stroke-opacity: 0.3;
}
.trail-text-name {
  text-transform: lowercase;
  color: rgba(0,0,0,0.2);
  margin-bottom: 0.2rem;
}
