.data-container {
  display: flex;
  flex-direction: row;
  border: solid 2px #aaaaaa;
  border-radius: 0.5rem;
}
.title-text-container {
  width: calc(100% - 18rem);
  display: flex;
  flex-direction: column;
  border: solid 1px #aaaaaa;
  border-width: 0 1px 0 0;
  padding: 1rem;
}
.title-text-container > textarea {
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  flex-grow: 8;
}
